@charset "UTF-8";
@import url(https://fonts.googleapis.com/css2?family=Montserrat);
@media only screen and (max-height: 61.9em) {
  .testimonials-section__testimonial--para {
    font-size: 1.15rem;
  }
}
@media only screen and (max-height: 48em) {
  .testimonials-section__testimonial--para {
    font-size: 1rem;
  }
}
@media only screen and (max-height: 36em) {
  .testimonials-section__testimonial--para {
    font-size: 0.75rem;
  }
}
@media only screen and (max-width: 400px) {
  body {
    width: 400px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
@media only screen and (min-width: 75em) {
  html {
    font-size: 62.5%;
  }
}
@media only screen and (max-width: 61.9em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 48em) {
  html {
    font-size: 50%;
    user-select: none;
  }
}
@media only screen and (max-width: 36em) {
  html {
    font-size: 50%;
    user-select: none;
  }
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.3;
  padding: 0;
  color: #777;
}

.header-section {
  background-position: center;
  position: relative;
  height: 75rem;
  background-size: cover;
  overflow: hidden;
  background-color: white;
  z-index: 2;
}
@media only screen and (max-width: 66em) {
  .header-section {
    height: 70rem;
  }
}
@media only screen and (max-width: 48em) {
  .header-section {
    height: 80rem;
  }
}
@media only screen and (max-width: 30em) {
  .header-section {
    height: 65rem;
  }
}
.header-section__logo {
  transform: translate(-50%, -50%);
  text-align: center;
  background-image: url(/images/logocopy.png);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  width: 50rem;
  height: 27.5rem;
  margin-bottom: 6rem;
  user-select: none;
}
@media only screen and (max-width: 36em) {
  .header-section__logo {
    width: 40rem;
    height: 20rem;
  }
}
.header-section__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.header-section__main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  left: 0;
  top: 0;
}
.header-section__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  background-position: center;
}
.header-section__img--1 {
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.1)), url(images/header1.jpg);
  animation: fade1 20s infinite;
}
.header-section__img--2 {
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.1)), url(images/header7.jpg);
  animation: fade2 20s infinite;
}
.header-section__img--3 {
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.1)), url(images/header3.jpg);
  animation: fade3 20s infinite;
}
.header-section__img--4 {
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.1)), url(images/header4.jpg);
  animation: fade4 20s infinite;
}
.header-section__headtext {
  position: absolute;
  left: 50%;
  top: 30%;
  width: 60%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  letter-spacing: 1rem;
  font-size: 6rem;
  font-weight: 500;
  text-transform: uppercase;
  border-bottom: 2px solid white;
  animation: fadeIn 1 3s;
}
@media only screen and (min-width: 75em) {
  .header-section__headtext {
    font-size: 6rem;
  }
}
@media only screen and (max-width: 66em) {
  .header-section__headtext {
    font-size: 5.25rem;
    width: 75%;
  }
}
@media only screen and (max-width: 61.9em) {
  .header-section__headtext {
    font-size: 5.5rem;
  }
}
@media only screen and (max-width: 48em) {
  .header-section__headtext {
    font-size: 4rem;
  }
}
@media only screen and (max-width: 36em) {
  .header-section__headtext {
    font-size: 3.65rem;
  }
}
.header-section__callme {
  z-index: 2;
  text-decoration: none;
  text-align: center;
  font-size: 3rem;
  color: white;
  width: 100%;
}
@media only screen and (max-width: 30em) {
  .header-section__callme {
    font-size: 2.5rem;
  }
}
.header-section__headextra {
  left: 20%;
  top: 45%;
  width: 60%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-size: 5rem;
  font-weight: 400;
  text-transform: uppercase;
  background-image: linear-gradient(to right bottom, #f5ad14, #cc9114);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transition: all 0.5s;
  display: block;
}
@media only screen and (min-width: 75em) {
  .header-section__headextra {
    font-size: 5rem;
  }
}
@media only screen and (max-width: 66em) {
  .header-section__headextra {
    font-size: 4.5rem;
    width: 70%;
    left: 15%;
  }
}
@media only screen and (max-width: 61.9em) {
  .header-section__headextra {
    font-size: 4.25rem;
  }
}
@media only screen and (max-width: 48em) {
  .header-section__headextra {
    font-size: 3.5rem;
  }
}
@media only screen and (max-width: 36em) {
  .header-section__headextra {
    font-size: 3.5rem;
  }
}
.header-section__buttons {
  margin-top: 5rem;
  text-align: center;
  width: 60%;
}
@media only screen and (max-width: 61.9em) {
  .header-section__buttons {
    width: 70%;
  }
}
@media only screen and (max-width: 48em) {
  .header-section__buttons {
    width: 80%;
  }
}
@media only screen and (max-width: 36em) {
  .header-section__buttons {
    width: 95%;
  }
}
@media only screen and (max-width: 30em) {
  .header-section__buttons {
    width: 100%;
  }
}

.btn {
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.5s;
  display: inline-block;
  padding: 1rem 3rem;
}
.btn:not(:last-child) {
  margin-right: 3rem;
}
.btn:hover {
  outline: none;
  transform: translateY(-3px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
}
.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
}
.btn__fullfont {
  background-color: #846c38;
  padding: 1.3rem;
  font-family: inherit;
  border-radius: 3rem;
  color: white;
  font-size: 2rem;
  transition: all 0.5s;
  margin: 3px;
}
@media only screen and (max-width: 30em) {
  .btn__fullfont {
    font-size: 1.5rem;
  }
}

.row {
  max-width: 114rem; /* do this to fix responsive */
  margin: 0 auto;
  margin-bottom: 5rem;
  /* ^ selects every class that starts with the text*/
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.row [class^=col-] {
  float: left;
}
.row [class^=col-]:not(:last-child) {
  margin-right: 6rem;
}
.row .col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}
.row .col-1-of-3 {
  width: calc((100% - 2 * 6rem) / 3);
}
.row .col-2-of-3 {
  width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem);
}
.row .col-1-of-4 {
  width: calc((100% - 3 * 6rem) / 4);
}
.row .col-2-of-4 {
  width: calc(2 * ((100% - 3 * 6rem)/4) + 6rem);
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade1 {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade2 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade3 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade4 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes move-arrow {
  0% {
    background-size: 100% 100%;
  }
  50% {
    background-size: 100% 70%;
  }
  100% {
    background-size: 100% 100%;
  }
}
.scroll {
  position: fixed;
  z-index: 1000;
  left: 5%;
  top: 10%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  width: 7%;
  height: 8rem;
  background-image: linear-gradient(to right bottom, rgb(200, 200, 200), rgb(80, 80, 80));
  box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.5);
  clip-path: circle(40%);
  shape-outside: circle(55%);
  transition: all 0.5s;
}
@media only screen and (max-height: 579.2px) {
  .scroll {
    overflow: auto;
  }
}
@media only screen and (max-width: 48em) {
  .scroll {
    clip-path: circle(35%);
  }
}
@media only screen and (max-width: 36em) {
  .scroll {
    width: 20%;
    height: 10rem;
    clip-path: circle(40%);
    left: 10%;
  }
}
.scroll__text {
  position: absolute;
  top: 50%;
  left: 50%;
  user-select: none;
  transform: translate(-50%, -50%);
  font-size: 6rem;
  text-decoration: none;
  text-align: center;
  color: rgb(30, 30, 30);
  z-index: 4;
  background-color: transparent;
  border: none;
  transition: all 0.5s;
}
@media only screen and (min-width: 75em) {
  .scroll__text {
    font-size: 5.5rem;
  }
}
@media only screen and (max-width: 61.9em) {
  .scroll__text {
    font-size: 4rem;
  }
}
@media only screen and (max-width: 48em) {
  .scroll__text {
    font-size: 3.5rem;
  }
}
@media only screen and (max-width: 36em) {
  .scroll__text {
    font-size: 5.5rem;
  }
}

.scroll-to-frame {
  background-color: rgb(225, 225, 225);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 0%;
  height: 0%;
  transition: all 0.4s;
  transform: rotate(12deg);
  font-size: 0rem;
}
.scroll-to-frame__header {
  position: absolute;
  left: 50%;
  top: 7.5%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  text-transform: uppercase;
  width: 70%;
  height: 10%;
  z-index: 999;
}
.scroll-to-frame__links {
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 999;
  width: 100%;
  height: 10%;
}
@media only screen and (max-width: 48em) {
  .scroll-to-frame__links {
    width: 120%;
  }
}
@media only screen and (max-width: 30em) {
  .scroll-to-frame__links {
    display: flex;
    width: 80% !important;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 20%;
  }
}
.scroll-to-frame__link {
  text-decoration: none;
  color: rgb(30, 30, 30);
  z-index: 999;
  width: 0rem;
  margin-bottom: 5rem;
  padding: 0rem 0rem;
  height: 10%;
  font-size: 0rem;
  background-size: 100% 100%;
  border-radius: 0.6rem;
  color: white;
  transition: all 0.5s;
  display: inline-block;
}
@media only screen and (max-width: 30em) {
  .scroll-to-frame__link {
    margin: 0;
  }
}
.scroll-to-frame__link:hover {
  outline: none;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
  transform: scale(95%, 95%);
}
.scroll-to-frame__link:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
}
.scroll-to-frame__link--1 {
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1)), url(https://letsgopunting.co.uk/wp-content/uploads/2020/12/IMG_9918-scaled-e1606745580427-1024x590-1.jpg);
  transform: rotate(25deg);
}
@media only screen and (max-width: 30em) {
  .scroll-to-frame__link--1 {
    transform: rotate(0deg);
  }
}
.scroll-to-frame__link--2 {
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1)), url(images/adam.jpg);
  transform: rotate(15deg);
}
@media only screen and (max-width: 30em) {
  .scroll-to-frame__link--2 {
    transform: rotate(0deg);
  }
}
.scroll-to-frame__link--3 {
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1)), url(images/backgroundcool.jpg);
  transform: rotate(10deg);
}
@media only screen and (max-width: 30em) {
  .scroll-to-frame__link--3 {
    transform: rotate(0deg);
  }
}
.scroll-to-frame__link--4 {
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1)), url(/images/housessold1.jpg);
  transform: rotate(-10deg);
}
@media only screen and (max-width: 30em) {
  .scroll-to-frame__link--4 {
    transform: rotate(0deg);
  }
}
.scroll-to-frame__link--5 {
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1)), url(images/header2.jpg);
  transform: rotate(-15deg);
}
@media only screen and (max-width: 30em) {
  .scroll-to-frame__link--5 {
    transform: rotate(0deg);
  }
}
.scroll-to-frame__link--6 {
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1)), url(images/header3.jpg);
  transform: rotate(-25deg);
}
@media only screen and (max-width: 30em) {
  .scroll-to-frame__link--6 {
    transform: rotate(0deg);
  }
}
.scroll-to-frame__link--label, .scroll-to-frame__link--testimonials, .scroll-to-frame__link--whatsnew {
  position: absolute;
  top: 16%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  z-index: 999;
  font-size: 0rem;
  width: 100%;
}
.scroll-to-frame:not(:last-child) {
  margin-right: 5rem;
}
.scroll-to-frame__frame {
  background-color: transparent;
  background-size: 100% 100%;
  background-position: center;
  width: 60%;
  height: 35%;
  position: relative;
  box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.5);
  left: 50%;
  top: 80%;
  transform: translate(-50%, -50%);
  text-align: center;
  overflow: hidden;
}
@media only screen and (max-width: 48em) {
  .scroll-to-frame__frame {
    height: 30%;
  }
}
@media only screen and (max-width: 36em) {
  .scroll-to-frame__frame {
    height: 45%;
    width: 50%;
  }
}
@media only screen and (max-width: 36em) {
  .scroll-to-frame__frame {
    top: 72.5%;
  }
}
.scroll-to-frame__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
.scroll-to-frame__profile {
  background-image: url(images/adam.webp);
  background-size: 90% 90%;
  background-position: 50% 90%;
  background-position: center;
  clip-path: circle(40%);
  shape-outside: circle(55%);
  position: absolute;
  width: 25%;
  height: 80%;
  transform: translate(-50%, -50%);
  text-align: center;
  left: 15%;
  user-select: none;
  top: 50%;
  z-index: 2;
}
@media only screen and (max-width: 61.9em) {
  .scroll-to-frame__profile {
    background-size: 100% 100%;
  }
}
@media only screen and (max-width: 48em) {
  .scroll-to-frame__profile {
    background-size: 90% 90%;
  }
}
@media only screen and (max-width: 36em) {
  .scroll-to-frame__profile {
    background-size: 90% 90%;
  }
}
@media only screen and (max-width: 61.9em) {
  .scroll-to-frame__profile {
    background-position: 50% 150%;
  }
}
@media only screen and (max-width: 48em) {
  .scroll-to-frame__profile {
    background-position: 50% 200%;
  }
}
@media only screen and (max-width: 36em) {
  .scroll-to-frame__profile {
    background-position: 50% 250%;
  }
}
@media only screen and (min-width: 75em) {
  .scroll-to-frame__profile {
    clip-path: circle(35%);
    shape-outside: circle(55%);
  }
}
@media only screen and (max-width: 61.9em) {
  .scroll-to-frame__profile {
    clip-path: circle(35%);
    shape-outside: circle(50%);
  }
}
@media only screen and (max-width: 48em) {
  .scroll-to-frame__profile {
    clip-path: circle(30%);
    shape-outside: circle(45%);
  }
}
@media only screen and (max-width: 36em) {
  .scroll-to-frame__profile {
    clip-path: circle(20%);
    shape-outside: circle(40%);
  }
}
@media only screen and (max-width: 36em) {
  .scroll-to-frame__profile {
    top: 20%;
  }
}
.scroll-to-frame__copyright {
  color: white;
  position: absolute;
  left: 60%;
  top: 25%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
}
.scroll-to-frame__socials {
  position: absolute;
  left: 62.5%;
  top: 70%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
}
.scroll-to-frame__social {
  transform: translate(-50%, -50%);
  text-align: center;
  background-size: 100% 100%;
  background-position: center;
  display: inline-block;
  z-index: 2;
}
.scroll-to-frame__social--instagram {
  background-image: url(images/instagram.png);
}
.scroll-to-frame__social--facebook {
  background-image: url(images/facebook.png);
}
.scroll-to-frame__socialheader {
  font-size: 0rem;
  color: white;
  position: absolute;
  left: 50%;
  top: 55%;
  width: 100%;
  transform: translate(-50%, -50%);
  text-align: center;
  text-transform: uppercase;
}
@media only screen and (max-width: 36em) {
  .scroll-to-frame__socialheader {
    top: 45%;
  }
}
.scroll-to-frame__bottomtext {
  color: white;
  position: absolute;
  left: 60%;
  top: 85%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
}
.scroll-to-frame__facebook-section {
  width: 33.3%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
}
@media only screen and (max-width: 36em) {
  .scroll-to-frame__facebook-section {
    width: 100%;
    height: 33.3%;
  }
}
.scroll-to-frame__facebook-section--picture {
  background-image: linear-gradient(to right bottom, rgba(45, 156, 156, 0.4), rgba(0, 0, 230, 0.3)), url(images/adam2.jpg);
  background-size: 100% 100%;
  background-position: center;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.5s;
}
.scroll-to-frame__facebook-section--bg {
  width: 100%;
  height: 100%;
  background-image: url(images/facebook.png);
  background-size: 70% 100%;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.4;
  display: block;
  z-index: 2;
  transition: all 0.5s;
}
.scroll-to-frame__facebook-section--title {
  z-index: 3;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 4.25rem;
  transform: translate(-50%, -50%);
  transition: all 0.5s;
}
@media only screen and (max-width: 61.9em) {
  .scroll-to-frame__facebook-section--title {
    font-size: 3.75rem;
  }
}
@media only screen and (max-width: 48em) {
  .scroll-to-frame__facebook-section--title {
    font-size: 3.15rem;
  }
}
@media only screen and (max-width: 36em) {
  .scroll-to-frame__facebook-section--title {
    font-size: 2.9rem;
  }
}
.scroll-to-frame__facebook-section--link {
  z-index: 3;
  background-image: linear-gradient(to right bottom, #2dcccc, #22d4d1);
  color: transparent;
  -webkit-background-clip: text;
  text-decoration: none;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 1.4rem;
  transform: translate(-50%, -100%);
  opacity: 0;
  transition: all 0.5s;
}
@media only screen and (max-width: 66em) {
  .scroll-to-frame__facebook-section--link {
    font-size: 1.1rem;
  }
}
@media only screen and (max-width: 61.9em) {
  .scroll-to-frame__facebook-section--link {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 48em) {
  .scroll-to-frame__facebook-section--link {
    font-size: 0.9rem;
  }
}
@media only screen and (max-width: 36em) {
  .scroll-to-frame__facebook-section--link {
    font-size: 1rem;
  }
}
.scroll-to-frame__facebook-section:hover .scroll-to-frame__facebook-section--bg {
  transform: all 0.5s;
  transform: rotate3d(0, 1, 0.5, 45deg);
}
.scroll-to-frame__facebook-section:hover .scroll-to-frame__facebook-section--picture {
  transform: scale(1.3);
}
.scroll-to-frame__facebook-section:hover .scroll-to-frame__facebook-section--title {
  opacity: 0;
  transform: translate(-50%, 0);
}
.scroll-to-frame__facebook-section:hover .scroll-to-frame__facebook-section--link {
  opacity: 1;
  transform: translate(-50%, -50%);
}
.scroll-to-frame__instagram-section {
  width: 33.3%;
  height: 100%;
  position: absolute;
  left: 33.3%;
  overflow: hidden;
  top: 0;
}
@media only screen and (max-width: 36em) {
  .scroll-to-frame__instagram-section {
    width: 100%;
    height: 33.3%;
    top: 33.3%;
    left: 0;
  }
}
.scroll-to-frame__instagram-section--picture {
  background-image: linear-gradient(to right bottom, rgba(252, 3, 173, 0.4), rgba(245, 173, 20, 0.3)), url(images/adam3.jpg);
  background-size: 100% 100%;
  background-position: center;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.5s;
}
.scroll-to-frame__instagram-section--bg {
  width: 100%;
  height: 100%;
  background-image: url(images/instagram.png);
  background-size: 70% 100%;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.4;
  display: block;
  z-index: 2;
  transition: all 0.5s;
}
.scroll-to-frame__instagram-section--title {
  z-index: 3;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 6rem;
  transform: translate(-50%, -50%);
  transition: all 0.5s;
  font-size: 4.25rem;
}
@media only screen and (max-width: 61.9em) {
  .scroll-to-frame__instagram-section--title {
    font-size: 3.75rem;
  }
}
@media only screen and (max-width: 48em) {
  .scroll-to-frame__instagram-section--title {
    font-size: 3.15rem;
  }
}
@media only screen and (max-width: 36em) {
  .scroll-to-frame__instagram-section--title {
    font-size: 2.9rem;
  }
}
.scroll-to-frame__instagram-section--link {
  z-index: 3;
  background-image: linear-gradient(to right bottom, #f5ad14, yellow);
  color: transparent;
  -webkit-background-clip: text;
  text-decoration: none;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 1.4rem;
  transform: translate(-50%, -100%);
  opacity: 0;
  transition: all 0.5s;
}
@media only screen and (max-width: 66em) {
  .scroll-to-frame__instagram-section--link {
    font-size: 1.1rem;
  }
}
@media only screen and (max-width: 61.9em) {
  .scroll-to-frame__instagram-section--link {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 48em) {
  .scroll-to-frame__instagram-section--link {
    font-size: 0.9rem;
  }
}
@media only screen and (max-width: 36em) {
  .scroll-to-frame__instagram-section--link {
    font-size: 1rem;
  }
}
.scroll-to-frame__instagram-section:hover .scroll-to-frame__instagram-section--bg {
  transform: all 0.5s;
  transform: rotate3d(0, 1, 0.5, -45deg);
}
.scroll-to-frame__instagram-section:hover .scroll-to-frame__instagram-section--picture {
  transform: scale(1.3);
}
.scroll-to-frame__instagram-section:hover .scroll-to-frame__instagram-section--title {
  opacity: 0;
  transform: translate(-50%, 0);
}
.scroll-to-frame__instagram-section:hover .scroll-to-frame__instagram-section--link {
  opacity: 1;
  transform: translate(-50%, -50%);
}
.scroll-to-frame__tiktok-section {
  width: 33.3%;
  height: 100%;
  position: absolute;
  left: 66.6%;
  overflow: hidden;
  top: 0;
}
@media only screen and (max-width: 36em) {
  .scroll-to-frame__tiktok-section {
    width: 100%;
    height: 33.3%;
    top: 66.6%;
    left: 0;
  }
}
.scroll-to-frame__tiktok-section--picture {
  background-image: linear-gradient(to right bottom, rgba(60, 0, 107, 0.4), rgba(72, 18, 87, 0.3)), url(images/img3.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.5s;
}
.scroll-to-frame__tiktok-section--bg {
  width: 100%;
  height: 100%;
  background-image: url(images/tiktok.png);
  background-size: 80% 100%;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.4;
  display: block;
  z-index: 2;
  transition: all 0.5s;
}
.scroll-to-frame__tiktok-section--title {
  z-index: 3;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 6rem;
  transform: translate(-50%, -50%);
  transition: all 0.5s;
  font-size: 4.25rem;
}
@media only screen and (max-width: 61.9em) {
  .scroll-to-frame__tiktok-section--title {
    font-size: 3.75rem;
  }
}
@media only screen and (max-width: 48em) {
  .scroll-to-frame__tiktok-section--title {
    font-size: 3.15rem;
  }
}
@media only screen and (max-width: 36em) {
  .scroll-to-frame__tiktok-section--title {
    font-size: 2.9rem;
  }
}
.scroll-to-frame__tiktok-section--link {
  z-index: 3;
  background-image: linear-gradient(to right bottom, #7b28bd, #9b2af5);
  color: transparent;
  -webkit-background-clip: text;
  text-decoration: none;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 1.4rem;
  transform: translate(-50%, -100%);
  opacity: 0;
  transition: all 0.5s;
}
@media only screen and (max-width: 66em) {
  .scroll-to-frame__tiktok-section--link {
    font-size: 1.1rem;
  }
}
@media only screen and (max-width: 61.9em) {
  .scroll-to-frame__tiktok-section--link {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 48em) {
  .scroll-to-frame__tiktok-section--link {
    font-size: 0.9rem;
  }
}
@media only screen and (max-width: 36em) {
  .scroll-to-frame__tiktok-section--link {
    font-size: 1rem;
  }
}
.scroll-to-frame__tiktok-section:hover .scroll-to-frame__tiktok-section--bg {
  transform: all 0.5s;
  transform: rotate3d(0, 1, 0.5, 45deg);
}
.scroll-to-frame__tiktok-section:hover .scroll-to-frame__tiktok-section--picture {
  transform: scale(1.3);
}
.scroll-to-frame__tiktok-section:hover .scroll-to-frame__tiktok-section--title {
  opacity: 0;
  transform: translate(-50%, 0);
}
.scroll-to-frame__tiktok-section:hover .scroll-to-frame__tiktok-section--link {
  opacity: 1;
  transform: translate(-50%, -50%);
}

.opened {
  background-color: rgb(225, 225, 225);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 997;
  transition: all 0.4s;
  width: 100%;
  height: 100vh;
  display: inline-block;
  font-size: 2.25rem;
  transform: rotate(0deg);
}
@media only screen and (max-width: 400px) {
  .opened {
    width: 400px;
  }
}
@media only screen and (max-height: 579.2px) {
  .opened {
    height: 75rem;
    overflow: auto;
  }
}
@media only screen and (min-width: 75em) {
  .opened {
    font-size: 2.15rem;
  }
}
@media only screen and (max-width: 61.9em) {
  .opened {
    font-size: 2.45rem;
  }
}
@media only screen and (max-width: 48em) {
  .opened {
    font-size: 2.25rem;
  }
}
@media only screen and (max-width: 36em) {
  .opened {
    font-size: 1.85rem;
  }
}
.opened .scroll-to-frame__link {
  font-size: 3rem;
  transition: all 0.4s;
  padding: 6rem 6rem;
}
@media only screen and (max-width: 30em) {
  .opened .scroll-to-frame__link {
    width: 10rem;
    display: flex;
    padding: 6rem 5rem;
    margin: 0.5rem;
  }
}
@media only screen and (max-width: 48em) {
  .opened .scroll-to-frame__link {
    padding: 5rem 5rem;
  }
}
@media only screen and (max-width: 30em) {
  .opened .scroll-to-frame__link {
    padding: 3.8rem 3.8rem;
  }
}
.opened .scroll-to-frame__link--label {
  font-size: 2rem;
}
@media only screen and (max-width: 30em) {
  .opened .scroll-to-frame__link--label {
    font-size: 1.4rem;
  }
}
.opened .scroll-to-frame__link--testimonials, .opened .scroll-to-frame__link--whatsnew {
  font-size: 1.5rem;
}
@media only screen and (max-width: 30em) {
  .opened .scroll-to-frame__link--testimonials, .opened .scroll-to-frame__link--whatsnew {
    font-size: 1.1rem;
  }
}
.opened .scroll-to-frame__social {
  width: 5rem;
  height: 5rem;
}
.opened .scroll-to-frame__socialheader {
  font-size: 6rem;
}

.newvideo {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7));
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.about-section {
  background-color: black;
  z-index: 3;
  overflow: hidden;
  position: relative;
  height: 280rem;
}
.about-section__page {
  height: 100%;
}
@media only screen and (max-width: 1130px) {
  .about-section {
    height: 310rem;
  }
}
@media only screen and (max-width: 700px) {
  .about-section {
    height: 320rem;
  }
}
@media only screen and (max-width: 614px) {
  .about-section {
    height: 400rem;
  }
}
.about-section__background {
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3)), url(images/header1.jpg);
  filter: blur(0.3rem);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100%;
  overflow: hidden;
}
.about-section__aboutme {
  width: 60%;
  height: 50rem;
  text-align: center;
  border-bottom: 2px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 6rem;
}
.about-section__aboutme--row1 {
  width: 100%;
  height: 60%;
  margin-bottom: 5rem;
}
.about-section__aboutme--row2 {
  width: 100%;
  height: 40%;
}
.about-section__main {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  height: 100%;
  margin-top: 3rem;
}
.about-section__profile {
  background-image: url(images/adam.webp);
  background-size: 100% 100%;
  background-position: center;
  border-radius: 50%;
  width: 30rem;
  height: 30rem;
  margin: 3% auto;
}
.about-section__header {
  font-size: 6rem;
  font-family: inherit;
  color: white;
  text-align: center;
  margin-top: 3rem;
  width: 100%;
  text-transform: uppercase;
}
@media only screen and (max-width: 30em) {
  .about-section__header {
    font-size: 5rem;
  }
}
.about-section__header--2 {
  font-size: 3.75rem;
  text-align: center;
  color: white;
  width: 100%;
}
.about-section__para {
  color: white;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
}
.about-section__paras {
  font-size: 2.25rem;
  text-align: center;
  width: 60%;
  color: white;
  animation: fade-out 0s 1;
}
@media only screen and (min-width: 75em) {
  .about-section__paras {
    font-size: 2.3rem;
  }
}
@media only screen and (max-width: 61.9em) {
  .about-section__paras {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 48em) {
  .about-section__paras {
    font-size: 1.75rem;
  }
}
@media only screen and (max-width: 36em) {
  .about-section__paras {
    font-size: 1.65rem;
  }
}
@media only screen and (max-width: 576px) {
  .about-section__paras {
    width: 70%;
  }
}
.about-section__titlepara {
  font-size: 5.75rem;
  text-align: center;
  background-image: linear-gradient(to right top, #f5ad14, red);
  -webkit-background-clip: text;
  text-transform: uppercase;
  width: 100%;
  margin-bottom: 6rem;
  color: transparent;
}
@media only screen and (min-width: 75em) {
  .about-section__titlepara {
    font-size: 6.5rem;
  }
}
@media only screen and (max-width: 66em) {
  .about-section__titlepara {
    font-size: 4.5rem;
  }
}
@media only screen and (max-width: 61.9em) {
  .about-section__titlepara {
    font-size: 5.75rem;
  }
}
@media only screen and (max-width: 48em) {
  .about-section__titlepara {
    font-size: 4.5rem;
  }
}
@media only screen and (max-width: 36em) {
  .about-section__titlepara {
    font-size: 3.75rem;
  }
}
@media only screen and (max-width: 30em) {
  .about-section__titlepara {
    font-size: 3rem;
  }
}
.about-section__accomplishmentsheader {
  text-transform: uppercase;
  background-image: linear-gradient(to right top, #f5ad14, red);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 5.75rem;
  margin-bottom: 3rem;
  margin-top: 3rem;
  text-align: center;
  width: 100%;
}
@media only screen and (max-width: 576px) {
  .about-section__accomplishmentsheader {
    font-size: 3rem;
  }
}
.about-section__accomplishments {
  width: 100%;
  height: 70rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 7%;
}
.about-section__accomplishments--row {
  width: 30rem;
  margin: 0 1rem;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.about-section__accomplishments--row h2 {
  text-transform: uppercase;
  background-image: linear-gradient(to right top, #f5ad14, red);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 4rem;
  margin-bottom: 1rem;
}
.about-section__image {
  width: 30rem;
  height: 100%;
  z-index: 2;
  border-radius: 1rem;
}
.about-section__image--1 {
  background-image: url(/images/ranking.jpeg);
  background-size: 100% 100%;
  background-position: center;
}
.about-section__image--2 {
  background-image: url(/images/ranking2.jpeg);
  background-size: 100% 100%;
  background-position: center;
}
.about-section__image--3 {
  background-image: url(/images/2022award.jpg);
  background-size: 100% 100%;
  background-position: center;
}
.about-section__image--4 {
  background-image: url(/images/picture2.webp);
  background-size: 100% 100%;
  background-position: center;
}
.about-section__image--5 {
  background-image: url(/images/image6.jpg);
  background-size: 100% 100%;
  background-position: center;
}
.about-section__image--6 {
  background-image: url(/images/image6.jpg);
  background-size: 100% 100%;
  background-position: center;
}
.about-section__topagentnetwork {
  width: 100%;
  height: 63rem;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media only screen and (max-width: 614px) {
  .about-section__topagentnetwork {
    height: 50rem;
  }
}
.about-section__topagentnetwork--1 {
  width: 60%;
  height: 25%;
  background-image: url(images/topagentnetwork2.png);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 1rem;
}
@media only screen and (max-width: 48em) {
  .about-section__topagentnetwork--1 {
    width: 80%;
  }
}
@media only screen and (max-width: 36em) {
  .about-section__topagentnetwork--1 {
    width: 90%;
  }
}
.about-section__topagentnetwork--2 {
  width: 60%;
  height: 75%;
  background-image: url(images/topagentnetwork1.jpeg);
  background-size: 100% 100%;
  background-position: center;
  border-radius: 2rem;
}
@media only screen and (max-width: 48em) {
  .about-section__topagentnetwork--2 {
    width: 80%;
  }
}
@media only screen and (max-width: 36em) {
  .about-section__topagentnetwork--2 {
    width: 90%;
  }
}

@media only screen and (max-width: 36em) {
  .hide-on-view {
    display: none;
    user-select: none;
  }
}

.opacity-in {
  animation: fade-in 1.5s 1;
}

.testimonials-section {
  position: relative;
  height: 800rem;
  overflow: hidden;
  background-color: white;
  z-index: 1;
  background-image: transparent;
  background-size: 100% 100%;
  background-position: center;
}
@media only screen and (max-width: 30em) {
  .testimonials-section {
    height: 680rem;
  }
}
.testimonials-section__mobile-bg {
  background-image: url(images/testimonial-image.jpg);
  background-size: 100% 100%;
  background-position: center;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
}
.testimonials-section__header {
  background-image: linear-gradient(to right, rgb(0, 255, 251), rgb(50, 168, 166));
  -webkit-background-clip: text;
  color: transparent;
  font-size: 7rem;
  width: 100%;
  position: absolute;
  left: 50%;
  top: 5%;
  transform: translate(-50%, -50%);
  text-align: center;
  text-transform: uppercase;
  z-index: 1.5;
}
@media only screen and (max-width: 36em) {
  .testimonials-section__header {
    font-size: 5rem;
  }
}
@media only screen and (max-width: 36em) {
  .testimonials-section__header {
    top: 2.5%;
  }
}
.testimonials-section__paras {
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 3;
  width: 100%;
  height: 90%;
  position: absolute;
  left: 0;
  top: 10%;
}
@media only screen and (max-width: 36em) {
  .testimonials-section__paras {
    top: 5%;
  }
}
.testimonials-section__stars {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}
.testimonials-section__star {
  fill: #ffda00;
  width: 5rem;
  height: 5rem;
  margin: 5px;
}
.testimonials-section__testimonial {
  margin-bottom: 5rem;
  z-index: 2;
  background-color: white;
  width: 50%;
  transition: all 0.7s;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
}
@media only screen and (max-width: 66em) {
  .testimonials-section__testimonial {
    width: 60%;
  }
}
@media only screen and (max-width: 61.9em) {
  .testimonials-section__testimonial {
    width: 65%;
  }
}
@media only screen and (max-width: 30em) {
  .testimonials-section__testimonial {
    width: 70%;
  }
}
.testimonials-section__testimonial--header {
  font-size: 5rem;
  color: black;
  width: 95%;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  background-image: linear-gradient(to right, rgb(0, 255, 251), rgb(50, 168, 166));
  -webkit-background-clip: text;
  color: transparent;
  margin-bottom: 1rem;
}
@media only screen and (max-width: 30em) {
  .testimonials-section__testimonial--header {
    font-size: 4rem;
  }
}
.testimonials-section__testimonial--para {
  text-align: center;
  font-size: 2.65rem;
  color: rgb(40, 40, 40);
  width: 100%;
}
@media only screen and (min-width: 75em) {
  .testimonials-section__testimonial--para {
    font-size: 2.85rem;
  }
}
@media only screen and (max-width: 66em) {
  .testimonials-section__testimonial--para {
    font-size: 2.5rem;
  }
}
@media only screen and (max-width: 61.9em) {
  .testimonials-section__testimonial--para {
    font-size: 2.35rem;
  }
}
@media only screen and (max-width: 36em) {
  .testimonials-section__testimonial--para {
    font-size: 2.15rem;
  }
}
@media only screen and (max-width: 30em) {
  .testimonials-section__testimonial--para {
    font-size: 1.85rem;
  }
}
.testimonials-section__testimonial:nth-of-type(even) {
  transform: translate(-400%) rotate(-45deg);
  border-radius: 1.5rem 0 1.5rem 0;
}
.testimonials-section__testimonial:nth-of-type(odd) {
  transform: translate(400%) rotate(45deg);
  border-radius: 0 1.5rem 0 1.5rem;
}
.testimonials-section__testimonial--open:nth-of-type(even) {
  transform: translate(0%);
}
.testimonials-section__testimonial--open:nth-of-type(odd) {
  transform: translate(0%);
}

.footer {
  position: relative;
  background-color: #191919;
  height: 20rem;
  width: 100%;
  z-index: 2;
}
.footer__column {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  height: 50%;
}
.footer__column2 {
  display: flex;
  justify-content: center;
}
.footer__link {
  text-decoration: none;
  transition: all 0.5s;
  color: coral;
}
.footer__link:hover {
  color: white;
}
.footer__para {
  margin-top: 2rem;
  font-size: 2rem;
}
@media only screen and (max-width: 36em) {
  .footer__para {
    text-align: center;
  }
}
.footer__header {
  color: white;
  font-size: 6rem;
  text-align: center;
  text-transform: uppercase;
  width: 55%;
  height: 40%;
}
@media only screen and (max-width: 66em) {
  .footer__header {
    font-size: 5.5rem;
  }
}
@media only screen and (max-width: 61.9em) {
  .footer__header {
    font-size: 5rem;
  }
}
@media only screen and (max-width: 48em) {
  .footer__header {
    font-size: 4rem;
  }
}
@media only screen and (max-width: 36em) {
  .footer__header {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 30em) {
  .footer__header {
    font-size: 2.5rem;
  }
}
.footer__socials {
  width: 20%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  flex-wrap: wrap;
}
@media only screen and (max-width: 36em) {
  .footer__socials {
    margin-top: 1.5rem;
  }
}
.footer__instagram, .footer__facebook, .footer__tiktok {
  width: 6rem;
  height: 6rem;
  margin: 5px;
  border-radius: 50%;
  transition: all 0.5s;
  border: 2px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: white;
}
@media only screen and (max-width: 66em) {
  .footer__instagram, .footer__facebook, .footer__tiktok {
    height: 5rem;
    width: 5rem;
  }
}
@media only screen and (max-width: 61.9em) {
  .footer__instagram, .footer__facebook, .footer__tiktok {
    height: 4.25rem;
    width: 4.25rem;
  }
}
@media only screen and (max-width: 48em) {
  .footer__instagram, .footer__facebook, .footer__tiktok {
    height: 3.5rem;
    width: 3.5rem;
  }
}
@media only screen and (max-width: 36em) {
  .footer__instagram, .footer__facebook, .footer__tiktok {
    height: 2.75rem;
    width: 2.75rem;
  }
}
.footer__instagram--icon, .footer__facebook--icon, .footer__tiktok--icon {
  transition: all 0.5s;
  width: 70%;
  height: 70%;
}
.footer__instagram--iconextra, .footer__facebook--iconextra, .footer__tiktok--iconextra {
  width: 100%;
  height: 100%;
}
.footer__instagram:hover, .footer__facebook:hover, .footer__tiktok:hover {
  border: 2px solid coral;
}
.footer__instagram:hover .footer__instagram--icon, .footer__instagram:hover .footer__facebook--icon, .footer__instagram:hover .footer__tiktok--icon, .footer__facebook:hover .footer__instagram--icon, .footer__facebook:hover .footer__facebook--icon, .footer__facebook:hover .footer__tiktok--icon, .footer__tiktok:hover .footer__instagram--icon, .footer__tiktok:hover .footer__facebook--icon, .footer__tiktok:hover .footer__tiktok--icon {
  fill: coral;
}
.footer__button:link, .footer__button:visited {
  text-decoration: none;
  color: white;
  background-color: coral;
  width: 20%;
  height: 70%;
  font-size: 2.5rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
  text-transform: uppercase;
  transition: all 0.5s;
}
@media only screen and (max-width: 66em) {
  .footer__button:link, .footer__button:visited {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 30em) {
  .footer__button:link, .footer__button:visited {
    font-size: 1.5rem;
  }
}
.footer__button:hover, .footer__button:active {
  background-color: white;
  color: coral;
  transform: translate(1rem);
}

.contact-section {
  height: 90rem;
  position: relative;
  z-index: 2;
  background-color: rgb(30, 30, 30);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)), url(images/housessold2.jpg);
  background-size: 100% 100%;
  background-position: center;
  padding: 3% 8%;
}
.contact-section__header {
  background-image: linear-gradient(to right, #e35260, red);
  -webkit-background-clip: text;
  color: transparent;
  text-transform: uppercase;
  font-size: 5.5rem;
  text-align: center;
  width: 100%;
  margin-bottom: 3rem;
}
.contact-section__main {
  width: 80%;
  height: 80%;
  background-color: #fafafa;
  border-radius: 2rem;
  box-shadow: 0 0.5rem 1rem rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 3% 6%;
  flex-direction: column;
}
.contact-section__main--names {
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
}
.contact-section__main--firstname, .contact-section__main--lastname {
  width: 49% !important;
}
.contact-section__main--firstname:not(:last-child), .contact-section__main--lastname:not(:last-child) {
  margin-right: 2rem;
}
.contact-section__main--send {
  position: relative;
  height: 6rem;
  width: 14rem;
  border-radius: 3rem;
  display: flex;
  overflow: hidden;
  text-decoration: none;
  transition: all 0.5s;
  margin-right: 1rem;
  margin-bottom: 1rem;
}
@media only screen and (max-width: 61.9em) {
  .contact-section__main--send {
    width: 12rem;
    height: 5rem;
  }
}
.contact-section__main--send:hover {
  transform: translate(0, -4%);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
}
.contact-section__main--send:active {
  transform: translate(0, 4%);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
}
.contact-section__main--sendtext {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  text-transform: uppercase;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}
.contact-section__main--sendbg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, #e35260, red);
}
.contact-section__main--whatsapp {
  width: 14rem;
  height: 6rem;
  background-color: #25D366;
  border-radius: 3rem;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  transition: all 0.5s;
  margin-right: 1rem;
  margin-bottom: 1rem;
}
@media only screen and (max-width: 61.9em) {
  .contact-section__main--whatsapp {
    width: 12rem;
    height: 5rem;
  }
}
.contact-section__main--whatsapp:hover {
  transform: translate(0, -4%);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
}
.contact-section__main--whatsapp:active {
  transform: translate(0, 4%);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
}
.contact-section__main--meet {
  background-image: linear-gradient(to right, #f5ad14, #cc9114);
  width: 15rem;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 3rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  transition: all 0.5s;
}
@media only screen and (max-width: 48em) {
  .contact-section__main--meet {
    width: 12rem;
    height: 5rem;
    font-size: 1.4rem;
  }
}
@media only screen and (max-width: 30em) {
  .contact-section__main--meet {
    font-size: 1.25rem;
    border-radius: 2.75rem;
  }
}
.contact-section__main--meet:hover {
  transform: translate(0, -4%);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
}
.contact-section__main--meet:active {
  transform: translate(0, 4%);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
}
.contact-section__main__whatsappicon {
  width: 40%;
  height: 100%;
  background-image: url(images/whatsapp.png);
  background-size: 100% 100%;
  background-position: center;
}
.contact-section__main__whatsapptext {
  font-size: 1.2rem;
  color: white;
}
.contact-section__thanks {
  width: 100%;
  text-align: center;
  font-size: 1.7rem;
  background-image: linear-gradient(to right, #34eb37, #2f9431);
  color: transparent;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 0.5s;
  margin-bottom: 1rem;
  display: none;
}
.contact-section__row {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
}

.input-box {
  -webkit-appearance: none;
  width: 100%;
  height: 7rem;
  border: none;
  font-size: 2.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
  margin-bottom: 1rem;
  font-family: "Montserrat", sans-serif;
}
@media only screen and (max-width: 48em) {
  .input-box {
    font-size: 2rem;
    font-weight: 500;
  }
}
@media only screen and (max-width: 36em) {
  .input-box {
    font-size: 1.7rem;
  }
}
@media only screen and (max-width: 30em) {
  .input-box {
    font-size: 1.4rem;
  }
}
.input-box:focus {
  outline: none;
}
.input-box::placeholder {
  font-family: "Montserrat", sans-serif;
  color: black;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.input-field {
  background-image: linear-gradient(to right, #e35260, red);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 2rem;
  margin-bottom: 1rem;
  opacity: 0;
  transition: all 0.5s;
}

.input-message {
  width: 100%;
  resize: none;
  height: 15rem;
  font-size: 2rem;
  border: none;
  font-family: "Montserrat", sans-serif;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
  margin-bottom: 1rem;
}
.input-message:focus {
  outline: none;
}
.input-message::placeholder {
  color: black;
  font-size: 2rem;
}

.terms {
  width: 100%;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.terms label {
  width: 50%;
  font-size: 1.5rem;
  margin-left: 1rem;
  font-weight: 500;
  letter-spacing: 1px;
}
@media only screen and (max-width: 66em) {
  .terms label {
    width: 60%;
  }
}
@media only screen and (max-width: 61.9em) {
  .terms label {
    width: 65%;
    font-size: 1.4rem;
  }
}
@media only screen and (max-width: 48em) {
  .terms label {
    width: 75%;
    font-size: 1.2rem;
    font-weight: 600;
  }
}
@media only screen and (max-width: 30em) {
  .terms label {
    width: 80%;
    font-size: 1rem;
  }
}

.input-check {
  -webkit-appearance: none;
  border: none;
  border-radius: 50%;
  background-image: linear-gradient(to right, #e35260, red);
  width: 3rem;
  height: 3rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
}
.input-check:checked::after {
  content: "✓";
  font-size: 1.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1px;
  color: white;
}

.contact-section__thanks--active {
  display: block;
  opacity: 1;
}

.contact-section__main--field--4 {
  width: 80%;
  text-align: center;
}

.contact-section__main--field--1--open, .contact-section__main--field--2--open, .contact-section__main--field--3--open, .contact-section__main--field--4--open {
  opacity: 1;
}

/* width */
::-webkit-scrollbar {
  width: 18px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #303030;
}

.properties-sold-section {
  position: relative;
  background-color: white;
  overflow: hidden;
  height: 70rem;
  z-index: 2;
  background-image: linear-gradient(to right bottom, rgba(45, 156, 156, 0.5), rgba(45, 204, 204, 0.3)), url(https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/boston-skyline-panoramic-boston-harbor-joann-vitali.jpg);
  background-size: 100% 100%;
  background-position: center;
}
@media only screen and (max-width: 36em) {
  .properties-sold-section {
    height: 80rem;
  }
}
@media only screen and (max-width: 36em) {
  .properties-sold-section {
    background-image: linear-gradient(to right bottom, rgba(45, 156, 156, 0.5), rgba(45, 204, 204, 0.3)), url(https://mfiles.alphacoders.com/734/734226.jpg);
  }
}
.properties-sold-section__title {
  text-align: center;
  font-size: 5.5rem;
  z-index: 3;
  text-transform: uppercase;
  background-image: linear-gradient(rgb(255, 255, 255), rgb(200, 200, 200));
  background-size: 100% 100%;
  background-position: center;
  -webkit-background-clip: text;
  color: transparent;
  padding-top: 3rem;
  width: 100%;
  height: 20%;
}
@media only screen and (max-width: 36em) {
  .properties-sold-section__title {
    font-size: 4rem;
  }
}
.properties-sold-section__houses {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 80%;
  height: 70%;
  z-index: 3;
  padding: 1rem;
  margin: auto;
}
@media only screen and (max-width: 36em) {
  .properties-sold-section__houses {
    height: 65%;
  }
}
.properties-sold-section__houses--title {
  font-size: 2.15rem;
  width: 50%;
  height: 80%;
  text-align: left;
  padding-top: 2rem;
  padding-left: 1rem;
  color: rgb(50, 50, 50);
}
@media only screen and (max-width: 66em) {
  .properties-sold-section__houses--title {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 61.9em) {
  .properties-sold-section__houses--title {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 48em) {
  .properties-sold-section__houses--title {
    font-size: 1.75rem;
  }
}
@media only screen and (max-width: 36em) {
  .properties-sold-section__houses--title {
    font-size: 1.25rem;
  }
}
.properties-sold-section__houses--image {
  height: 80%;
  width: 40%;
  position: absolute;
  left: 75%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1rem 0 1rem 0;
  background-position: center;
  background-size: 100% 100%;
}
.properties-sold-section__houses--image__1 {
  background-image: url(images/housessold1.jpg);
}
.properties-sold-section__houses--image__2 {
  background-image: url(images/soldimage3.jpg);
}
.properties-sold-section__houses--image__3 {
  background-image: url(images/sold1.jpeg);
}
.properties-sold-section__houses--image__4 {
  background-image: url(images/sold2.jpeg);
}
.properties-sold-section__houses--1 {
  position: relative;
  background-color: whitesmoke;
  width: 40%;
  height: 40%;
  border-radius: 1rem 0 1rem 0;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
  transform: translate(-200%);
  transition: all 1s;
}
@media only screen and (max-width: 36em) {
  .properties-sold-section__houses--1 {
    height: 27.5%;
    width: 80%;
    margin-bottom: 1rem;
  }
}
.properties-sold-section__houses--2 {
  position: relative;
  background-color: whitesmoke;
  width: 40%;
  height: 40%;
  border-radius: 1rem 0 1rem 0;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
  transform: translate(200%);
  transition: all 1s;
}
@media only screen and (max-width: 36em) {
  .properties-sold-section__houses--2 {
    height: 27.5%;
    width: 80%;
    margin-bottom: 1rem;
  }
}
.properties-sold-section__houses--3 {
  position: relative;
  background-color: whitesmoke;
  width: 40%;
  height: 40%;
  border-radius: 1rem 0 1rem 0;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
  transform: translate(-200%);
  transition: all 1s;
}
@media only screen and (max-width: 36em) {
  .properties-sold-section__houses--3 {
    height: 27.5%;
    width: 80%;
    margin-bottom: 1rem;
  }
}
.properties-sold-section__houses--4 {
  position: relative;
  background-color: whitesmoke;
  width: 40%;
  height: 40%;
  border-radius: 1rem 0 1rem 0;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
  transform: translate(200%);
  transition: all 1s;
}
@media only screen and (max-width: 36em) {
  .properties-sold-section__houses--4 {
    height: 27.5%;
    width: 80%;
    margin-bottom: 1rem;
  }
}
.properties-sold-section__house--open {
  transform: translate(0%);
}

.whats-new-section {
  overflow: hidden;
  padding: 5% 15% 1.5%;
  z-index: 2;
  background-color: #fff;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)), url(/images/img3.jpg);
  background-size: 100% 100%;
  background-position: center;
}
@media only screen and (max-width: 48em) {
  .whats-new-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)), url(/images/header5.jpg);
  }
}
.whats-new-section__header {
  font-size: 6rem;
  margin-bottom: 4rem;
  text-transform: uppercase;
  background-image: linear-gradient(to right top, #f5ad14, red);
  -webkit-background-clip: text;
  color: transparent;
  text-align: center;
  width: 70%;
  padding-bottom: 1rem;
  border-bottom: 2px solid white;
}
@media only screen and (max-width: 36em) {
  .whats-new-section__header {
    font-size: 4rem;
  }
}
.whats-new-section__video, .whats-new-section__img {
  height: 70rem;
  width: 40rem;
  border-radius: 2.5rem 0 2.5rem 0;
}
.whats-new-section__img img {
  height: 95%;
  min-width: 95%;
  max-width: 95%;
  width: 100%;
  border-radius: 2.5rem 0 2.5rem 0;
}
.whats-new-section__news {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.whats-new-section__news--title {
  text-align: center;
  font-size: 5rem;
  text-transform: capitalize;
  margin-bottom: 2rem;
  background-image: linear-gradient(to right, #fff, rgb(170, 170, 170));
  -webkit-background-clip: text;
  color: transparent;
}
@media only screen and (max-width: 36em) {
  .whats-new-section__news--title {
    font-size: 4rem;
  }
}
.whats-new-section__videos {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.whats-new-section__video {
  margin-bottom: 2rem;
  position: relative;
  margin-top: 2rem;
}
.whats-new-section__video video {
  position: relative;
  height: 95%;
  min-width: 95%;
  max-width: 95%;
  width: 95%;
  -webkit-border-radius: 3.5rem 0 3.5rem 0;
}
.whats-new-section__socials {
  width: 200%;
  height: 15rem;
  margin-top: 3rem;
  border-top: 2px solid white;
}
@media only screen and (max-width: 36em) {
  .whats-new-section__socials {
    height: 17rem;
  }
}
.whats-new-section__socials--title {
  font-size: 5rem;
  color: white;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.whats-new-section__socials--sociallink {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
}
.whats-new-section__socials--facebook, .whats-new-section__socials--instagram, .whats-new-section__socials--tiktok {
  fill: white;
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
  border: 3px solid white;
  padding: 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3px;
}

/*# sourceMappingURL=style.css.map */
