@media only screen and (min-width:75em) {
    .header {
        font-size: 7rem;
        left: 20.5%;
    }
    .header2 {
        font-size: 4rem;
    }
    .back-btn {
        font-size: 3.5rem;
        left: 39%;
    }
    .logo {
        width: 10%;
    }
}

@media only screen and (max-width:61.9em) {
    .header {
        font-size: 5.5rem;
        left: 13%;
    }
    .header2 {
        font-size: 3.5rem;
    }
    .back-btn {
        font-size: 2.75rem;
        left: 36%;
    }
    .logo {
        width: 12.5%;
    }
}

@media only screen and (max-width:48em) {
    .header {
        font-size: 5.5rem;
        left: 10%;
    }
    .header2 {
        font-size: 2.75rem;
    }
    .back-btn {
        font-size: 2.5rem;
        left: 35%;
    }
    .logo {
        width: 15%;
    }
}

@media only screen and (max-width:36em) {
    .header {
        font-size: 4.5rem;
        left: 11%;
    }
    .header2 {
        font-size: 2.5rem;
    }
    .back-btn {
        font-size: 2.25rem;
        left: 32%;
    }
    .logo {
        width: 17.5%;
    }
}