@import url(https://fonts.googleapis.com/css2?family=Montserrat);

.main {
    height: 100vh;
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 100;
}

.main-info {
    width: 100%;
    height: 75rem;
}

.title {
    z-index: 2;
    color: white;
    text-transform: uppercase;
    width: 50%;
    font-size: 6rem;
    letter-spacing: 3px;
    text-align: center;
    border-bottom: 2px solid white;
    margin-bottom: 3rem;
}

.main p {
    z-index: 2;
    font-size: 3.5rem;
    color: white;
    width: 50%;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 5rem;
}

.back {
    z-index: 2;
    background-color: #846c38;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 1.5rem;
    border-radius: 3rem;
    transition: all .5s;
    font-size: 2.5rem;
}

.back:hover {
    box-shadow: 0 0.5rem 1rem rgba(255, 255, 255, 0.3);
    transform: translate(0, -2%);
}

.title-para {
    width: 100%;
    text-align: center;
    font-size: 5rem;
    z-index: 2;
    text-transform: uppercase;
    background-image: linear-gradient(to right bottom, #f5ad14, #cc9114);
    -webkit-background-clip: text;
    color: transparent;
    margin-bottom: 5rem;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
}

.error-bg {
    height: 100vh;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    width: 25rem;
    height: 15rem;
    user-select: none;
    background-image: url(/images/logocopy.ico);
    background-size: 100% 100%;
    background-position: center;
    margin-bottom: 3rem;
    z-index: 2;
}

.header {
    font-size: 7rem;
    background-image: linear-gradient(to right top, #f5ad14, red);
    -webkit-background-clip: text;
    color: transparent;
    position: absolute;
    top: 40%;
    left: 50%;
    text-align: center;
    width: 100%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.back-btn {
    text-decoration: none;
    position: absolute;
    top: 70%;
    left: 48%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin: -1rem 3rem;
    padding: 2rem;
    background-image: linear-gradient(to right bottom, coral, red);
    color: white;
    z-index: 2;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
    font-size: 3.5rem;
    border-radius: 2px;
}

.header2 {
    z-index: 2;
    color: white;
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 4rem;
}

.error-bg--1 {
    background-size: 100% 100%;
    background-position: center;
    background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.1)), url(../images/header1.jpg);
    animation: fade1 10s infinite;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    display: block;
    z-index: 2;
}
.error-bg--2 {
    background-size: 100% 100%;
    background-position: center;  
    background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.1)), url(../images/header7.jpg);
    animation: fade2 10s infinite;  
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    display: block;
    z-index: 2;
}
.error-bg--3 {
    background-size: 100% 100%;
    background-position: center;
    background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.1)), url(../images/header3.jpg);
    animation: fade3 10s infinite;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    display: block;
    z-index: 2;
}
.error-bg--4 {
    background-size: 100% 100%;
    background-position: center;
    background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.1)), url(../images/header4.jpg);
    animation: fade4 10s infinite;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    display: block;
    z-index: 2;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fade1 {
    0% {
        opacity: 1;
    }

    25% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    75% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade2 {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    75% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fade3 {
    0% {
        opacity: 0;
    }
    
    25% {
        opacity: 0;
    }
    
    50% {
        opacity: 1;
    }
    
    75% {
        opacity: 0;
    }
    
    100% {
        opacity: 0;
    }
}

@keyframes fade4 {
    0% {
        opacity: 0;
    }
    
    25% {
        opacity: 0;
    }
    
    50% {
        opacity: 0;
    }
    
    75% {
        opacity: 1;
    }
    
    100% {
        opacity: 0;
    }
}