.error-bg {
    height: 100vh;
    position: relative;
    left: 0;
    top: 0;
    overflow: hidden;
    width: 100%;
}

.error-bg--1 {
    background-image: linear-gradient(to right bottom, rgba(black, 0.9), rgba(black, 0.1)), url(images/header1.jpg);
    animation: fade1 10s infinite;
    background-size: 100% 100%;
    background-position: center;
    position: absolute;
    left: 0;
    top: 0;
}
.error-bg--2 {
    background-image: linear-gradient(to right bottom, rgba(black, 0.9), rgba(black, 0.1)), url(images/header7.jpg);
    animation: fade2 10s infinite;
    background-size: 100% 100%;
    background-position: center;    
    position: absolute;
    left: 0;
    top: 0;
}
.error-bg--3 {
    background-image: linear-gradient(to right bottom, rgba(black, 0.9), rgba(black, 0.1)), url(images/header3.jpg);
    animation: fade3 10s infinite;
    background-size: 100% 100%;
    background-position: center;
    position: absolute;
    left: 0;
    top: 0;
}
.error-bg--4 {
    background-image: linear-gradient(to right bottom, rgba(black, 0.9), rgba(black, 0.1)), url(images/header4.jpg);
    animation: fade4 10s infinite;
    background-size: 100% 100%;
    background-position: center;
    position: absolute;
    left: 0;
    top: 0;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fade1 {
    0% {
        opacity: 1;
    }

    25% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    75% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade2 {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    75% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fade3 {
    0% {
        opacity: 0;
    }
    
    25% {
        opacity: 0;
    }
    
    50% {
        opacity: 1;
    }
    
    75% {
        opacity: 0;
    }
    
    100% {
        opacity: 0;
    }
}

@keyframes fade4 {
    0% {
        opacity: 0;
    }
    
    25% {
        opacity: 0;
    }
    
    50% {
        opacity: 0;
    }
    
    75% {
        opacity: 1;
    }
    
    100% {
        opacity: 0;
    }
}