.footer {
    position: relative;
    background-color: #191919;
    height: 20rem;
    width: 100%;
    z-index: 2;
    &__column {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
        height: 50%;
    }
    &__column2 {
        display: flex;
        justify-content: center;
    }
    &__link {
        text-decoration: none;
        transition: all .5s;
        color: coral;
        &:hover {
            color: white;
        }
    }
    &__para {
        margin-top: 2rem;
        font-size: 2rem;
        @include respond(phone) {
            text-align: center;
        }
    }
    &__header {
        color: white;
        font-size: 6rem;
        @include respond(big-monitor) {
            font-size: 5.5rem;
        }
        @include respond(tab-land) {
            font-size: 5rem;
        }
        @include respond(tab-port) {
            font-size: 4rem;
        }
        @include respond(phone) {
            font-size: 3rem;
        }
        @include respond(small-phone) {
            font-size: 2.5rem;
        }
        text-align: center;
        text-transform: uppercase;
        width: 60%;
        height: 40%;
    }
    &__socials {
        width: 10%;
        height: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 3rem;
        @include respond(phone) {
            margin-top: 1.5rem;
        }
        flex-wrap: wrap;
    }
    &__instagram, &__facebook {
        width: 6rem;
        height: 6rem;
        @include respond(big-monitor) {
            height: 5rem;
            width: 5rem;
        }
        @include respond(tab-land) {
            height: 4.25rem;
            width: 4.25rem;
        }
        @include respond(tab-port) {
            height: 3.5rem;
            width: 3.5rem;
        }
        @include respond(phone) {
            height: 2.75rem;
            width: 2.75rem;
        }
        margin: 5px;
        border-radius: 50%;
        transition: all .5s;
        border: 2px solid white;
        display: flex;
        align-items: center;
        justify-content: center;
        fill: white;
        &--icon {
            transition: all .5s;
            width: 70%;
            height: 70%;
        }
        &:hover {
            border: 2px solid coral;
        }
        &:hover &--icon {
            fill: coral;
        }
    }
    &__button {
        &:link, &:visited {
            text-decoration: none;
            color: white;
            background-color: coral;
            width: 20%;
            height: 70%;
            font-size: 2.5rem;
            text-align: center;
            @include respond(big-monitor) {
                font-size: 2rem;
            }
            @include respond(small-phone) {
                font-size: 1.5rem;
            }
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 0.5rem;
            text-transform: uppercase;
            transition: all .5s;
        }
        &:hover, &:active {
            background-color: white;
            color: coral;
            transform: translate(1rem);
        }
    }
}