@import url(https://fonts.googleapis.com/css2?family=Montserrat);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

.main {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.background-img {
    position: absolute;
    left: 0;
    top: 0;
    filter: blur(1.5px);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/header1.jpg);
    background-position: center;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
}

.box {
    width: 90%;
    height: 90%;
    background-color: white;
    z-index: 2;
    display: flex;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
}

.row {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
}

.label-div {
    width: 80%;
    height: 4%;
}

.label {
    font-size: 1.3rem;
    border-bottom: 2rem solid transparent;
    color: rgb(40, 40, 40);
}

.input-box {
    width: 80%;
    height: 9%;
    font-size: 2rem;
    border: none;
    background-color: #fafafa;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
    margin-bottom: 25px;
    transition: 0.5s;
    font-family: inherit;
}

.input-box:focus {
    outline: none;
    transform: translate(0, -5%);
}

.dates {
    font-family: "Montserrat", sans-serif;
    resize: none;
    width: 80%;
    height: 10%;
    border: none;
    background-color: #fafafa;
    font-size: 2rem;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 2rem;
    transition: 0.5s;
}

.dates:focus {
    outline: none;
    transform: translate(0, -5%);
}

.extra {
    width: 80%;
    height: 10%;
    display: flex;
    justify-content: space-around;
}

.send:hover, .send:active {
    transform: translate(10%);
    background-position: 100%;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
}

.send:link, .send:visited {
    width: 30%;
    height: 100%;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 1.5rem;
    overflow: hidden;
    border-radius: 2rem;
    background-size: 250%;
    background-image: linear-gradient(to right, #f5ad14, #cc9114);
    transition: all .5s;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 0.5rem;
}

.website:link, .website:visited {
    width: 45%;
    border-radius: 2rem;
    height: 100%;
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
    background-size: 250%;
    background-image: linear-gradient(to right, #f5ad14, #cc9114);
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: all .5s;
    padding: 0.5rem;
}

.website:hover, .website:active {
    transform: translate(-10%);
    background-position: 100%;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
}

.map {
    width: 80%;
    height: 50%;
    margin-bottom: 1.5rem;
}

.consultation-header {
    font-size: 2.5rem;
    color: rgb(40, 40, 40);
    margin-bottom: 1rem;
}

.contact-part {
    width: 80%;
    height: 10%;
    display: flex;
    margin-bottom: 1rem;
}

.contact-part i {
    font-size: 3rem;
    background-image: linear-gradient(to right, #f5ad14, #cc9114);
    -webkit-background-clip: text;
    color: transparent;
    margin-right: 1rem;
}

.info h2 {
    font-size: 1.5rem;
}

.info  {
    font-size: 1.2rem;
}

.msg {
    width: 80%;
    resize: none;
    height: 8rem;
    margin-bottom: 1rem;
    border: none;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
    font-family: inherit;
    font-size: 1.5rem;
}

.msg:focus {
    outline: none;
}