@import url(https://fonts.googleapis.com/css2?family=Montserrat);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: 62.5%;
}

.header {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.8)), url(/images/adam.jpg);
    background-size: 100% 100%;
    background-position: center;
    color: white;
    padding: 5% 0;
    overflow: hidden;
}

.header-forward {
    text-decoration: none;
    color: white;
    font-size: 5rem;
    transform: rotate(90deg);
    padding: 0.4rem;
    border: 2px solid white;
    border-radius: 50%;
    width: 5.5rem;
    height: 5.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 80%;
    top: 80%;
}

@media only screen and (max-width: 500px) {
    .header-forward {
      font-size: 3.5rem;
      padding: 0.3rem;
      width: 4rem;
      height: 4rem;
    }
  }

.header h1 {
    font-size: 3.25rem;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    margin-bottom: 1rem;
    border-bottom: 2px solid white;
    width: 50%;
    padding-bottom: 1rem;
}

.header h3 {
    font-size: 3.75rem;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    background-image: linear-gradient(to right bottom, #f5ad14, #cc9114);
    -webkit-background-clip: text;
    color: transparent;
    margin-bottom: 3rem;
}

.header-logo {
    background-image: url(/images/logocopy.ico);
    background-size: 100% 100%;
    background-position: center;
    width: 15rem;
    height: 9rem;
    margin-bottom: 3rem;
}

.header-buttons {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.header-buttons a {
    text-decoration: none;
    background-color: #846c38;
    color: white;
    margin: 1rem;
    text-align: center;
    font-size: 1.25rem;
    padding: 1.25rem;
    border-radius: 3rem;
    text-transform: uppercase;
    transition: all 0.5s;
}

.header-buttons a:hover {
    transform: translate(0, -3%);
    box-shadow: 0 0.5rem 1rem rgba(255, 255, 255, 0.3);
}

/* Transition */

.transition {
    position: relative;
    height: 173rem;
    display: flex;
    background-color: #fafafa;
}

.transition-row {
    width: 33.33333%;
    position: absolute;
}

.transition-row--1 {
    height: 90%;
    top: 10%;
    left: 0;
}

.transition-row--2 {
    height: 35%;
    top: 65%;
    left: 33.33333333%;
}

.transition-row--3 {
    height: 60%;
    top: 40%;
    left: 66.6666666%;
}

.transition-image {
    height: 100vh;
    background-size: 100% 100%;
    background-position: center;
    position: sticky;
    top: 0;
    left: 0;
    filter: blur(0.5px);
}

.transition-image--1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(/images/picture2.webp);
    background-size: 150% 100%;
}

.transition-image--2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(/images/picture1.jpg);
}

.transition-image--3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(/images/adam3.jpg);
}

/* About */

.about {
    padding: 5% 0;
    text-align: center;
}

.about h2 {
    width: 100%;
    height: 10%;
    font-size: 2.5rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
    background-image: linear-gradient(to right bottom, #f5ad14, #cc9114);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: 800;
}

.main-para {
    width: 70%;
    margin: 0 auto;
    font-size: 2rem;
    text-align: center;
}

/* Footer */

.footer {
  position: relative;
  background-color: #191919;
  overflow: hidden;
  width: 100%;
  z-index: 2;
  color: #777;
}
.footer__column {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}
.footer__column2 {
  display: flex;
  justify-content: center;
}
.footer__column2 p {
  margin: 1rem;
}
.footer__link {
  text-decoration: none;
  transition: all 0.5s;
  color: coral;
}
.footer__link:hover {
  color: white;
}
.footer__para {
  margin-top: 2rem;
  font-size: 1.5rem;
  text-align: center;
}
@media only screen and (max-width: 36em) {
  .footer__para {
    text-align: center;
  }
}
.footer__header {
  color: white;
  font-size: 3rem;
  margin-top: 2.5rem;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  width: 50%;
}
@media only screen and (max-width: 66em) {
  .footer__header {
    font-size: 2.75rem;
  }
}
@media only screen and (max-width: 61.9em) {
  .footer__header {
    font-size: 2.5rem;
  }
}
@media only screen and (max-width: 48em) {
  .footer__header {
    font-size: 2rem;
  }
}
.footer__socials {
  width: 20%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  flex-wrap: wrap;
}
@media only screen and (max-width: 36em) {
  .footer__socials {
    margin-top: 1.5rem;
  }
}
.footer__instagram, .footer__facebook, .footer__tiktok, .footer__youtube, .footer__linkedin {
  width: 4rem;
  height: 4rem;
  margin: 5px;
  border-radius: 50%;
  transition: all 0.5s;
  border: 2px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: white;
}
@media only screen and (max-width: 66em) {
  .footer__instagram, .footer__facebook, .footer__tiktok, .footer__youtube, .footer__linkedin {
    height: 3rem;
    width: 3rem;
  }
}
@media only screen and (max-width: 61.9em) {
  .footer__instagram, .footer__facebook, .footer__tiktok, .footer__youtube, .footer__linkedin {
    height: 2.5rem;
    width: 2.5rem;
  }
}
@media only screen and (max-width: 48em) {
  .footer__instagram, .footer__facebook, .footer__tiktok, .footer__youtube, .footer__linkedin {
    height: 2rem;
    width: 2rem;
  }
}
@media only screen and (max-width: 36em) {
  .footer__instagram, .footer__facebook, .footer__tiktok, .footer__youtube, .footer__linkedin {
    height: 1.5rem;
    width: 1.5rem;
  }
}
.footer__instagram--icon, .footer__facebook--icon, .footer__tiktok--icon, .footer__youtube--icon, .footer__linkedin--icon {
  transition: all 0.5s;
  width: 70%;
  height: 70%;
}
.footer__instagram--iconextra, .footer__facebook--iconextra, .footer__tiktok--iconextra, .footer__youtube--iconextra, .footer__linkedin--iconextra {
  width: 100%;
  height: 100%;
}
.footer__instagram:hover, .footer__facebook:hover, .footer__tiktok:hover, .footer__youtube:hover, .footer__linkedin:hover {
  border: 2px solid coral;
}
.footer__instagram:hover .footer__instagram--icon, .footer__instagram:hover .footer__facebook--icon, .footer__instagram:hover .footer__tiktok--icon, .footer__instagram:hover .footer__youtube--icon, .footer__instagram:hover .footer__linkedin--icon, .footer__facebook:hover .footer__instagram--icon, .footer__facebook:hover .footer__facebook--icon, .footer__facebook:hover .footer__tiktok--icon, .footer__facebook:hover .footer__youtube--icon, .footer__facebook:hover .footer__linkedin--icon, .footer__tiktok:hover .footer__instagram--icon, .footer__tiktok:hover .footer__facebook--icon, .footer__tiktok:hover .footer__tiktok--icon, .footer__tiktok:hover .footer__youtube--icon, .footer__tiktok:hover .footer__linkedin--icon, .footer__youtube:hover .footer__instagram--icon, .footer__youtube:hover .footer__facebook--icon, .footer__youtube:hover .footer__tiktok--icon, .footer__youtube:hover .footer__youtube--icon, .footer__youtube:hover .footer__linkedin--icon, .footer__linkedin:hover .footer__instagram--icon, .footer__linkedin:hover .footer__facebook--icon, .footer__linkedin:hover .footer__tiktok--icon, .footer__linkedin:hover .footer__youtube--icon, .footer__linkedin:hover .footer__linkedin--icon {
  fill: coral;
}
.footer__button:link, .footer__button:visited {
  text-decoration: none;
  color: white;
  background-image: linear-gradient(to right bottom, red, orange);
  padding: 2rem;
  font-size: 2.5rem;
  border-radius: 4rem;
  max-height: 8rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
  text-transform: uppercase;
  transition: all 0.5s;
}
@media only screen and (max-width: 66em) {
  .footer__button:link, .footer__button:visited {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 30em) {
  .footer__button:link, .footer__button:visited {
    font-size: 1.5rem;
  }
}
.footer__button:hover, .footer__button:active {
  transform: translate(1rem);
}

.nav {
  overflow: hidden;
  width: 100%;
  height: 10rem;
  position: fixed;
  padding: 0 40px;
  top: 0;
  left: 0;
  z-index: 9999999999;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-appearance: none;
  border-radius: 0 0 2rem 2rem;
}
@media only screen and (max-width: 400px) {
  .nav {
    width: 400px;
  }
}
.nav__left {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 20%;
  height: 100%;
}
.nav__left a {
  height: 80%;
}
.nav__left img {
  width: 15rem;
  height: 100%;
}
@media only screen and (max-width: 66em) {
  .nav__left a {
    height: 70%;
  }
  .nav__left img {
    width: 12.5rem;
  }
}
@media only screen and (max-width: 61.9em) {
  .nav__left a {
    height: 60%;
  }
  .nav__left img {
    width: 10rem;
  }
}
@media only screen and (max-width: 48em) {
  .nav__right--item a {
    display: none;
  }
}
.nav__right {
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
}
.nav__right--item {
  height: 100%;
}
.nav__right--item a {
  text-decoration: none;
  font-size: 1.5rem;
  color: white;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 0 .5rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}
@media only screen and (max-width: 66em) {
  .nav__right--item a {
    font-size: 1.25rem;
  }
}
@media only screen and (max-width: 61.9em) {
  .nav__right--item a {
    font-size: 0.8rem;
  }
}
@media only screen and (max-width: 48em) {
  .nav__right--item a {
    display: none;
  }
}
.nav__right--item a:hover {
  text-shadow: 0.5rem 5px 0.5rem rgba(255, 255, 255, 0.75);
  -webkit-appearance: none;
}
.nav__right--item .pc-nav {
  display: none;
  background-color: white;
  position: fixed;
  top: 10rem;
  left: 0%;
  width: 100%;
  height: 30rem;
  z-index: -1;
  border-radius: 0 0 2rem 2rem;
  padding: 3% 3%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav__right--item .pc-nav__images {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 3rem;
}
.nav__right--item .pc-nav__links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 100%;
  text-align: center;
  flex-direction: column;
}
.nav__right--item .pc-nav__links a {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  height: auto;
  margin: 0.5rem;
}
.nav__right--item .pc-nav__links h3 {
  font-size: 1.5rem;
  color: rgb(170, 170, 170);
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 2rem;
  width: 80%;
  padding-bottom: 1rem;
}
.nav__right--item .pc-nav__about {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.nav__right--item .pc-nav__about h3 {
  width: 100%;
  font-size: 1.5rem;
  color: rgb(170, 170, 170);
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 2rem;
}
.nav__right--item .pc-nav__about p {
  font-size: 1rem;
}
@media only screen and (max-width: 61.9em) {
  .nav__right--item .pc-nav__about p {
    font-size: 0.8rem;
  }
}
.nav__right--item .pc-nav img {
  width: 50%;
  height: 100%;
  margin: 0 1rem;
}
@media only screen and (max-width: 66em) {
  .nav__right--item .pc-nav img {
    width: 45%;
    height: 80%;
  }
}
@media only screen and (max-width: 61.9em) {
  .nav__right--item .pc-nav img {
    width: 42%;
    height: 70%;
  }
}
.nav__right__tab {
  display: none;
  font-size: 3rem;
  border-radius: 50%;
  padding: 0.5rem 1.25rem;
  background-color: rgb(200, 200, 200);
  border: none;
  color: black !important;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
  -webkit-appearance: none;
}
@media only screen and (max-width: 48em) {
  .nav__right__tab {
    display: block;
  }
}
.nav__right .mobile-nav {
  width: 100%;
  height: 70vh;
  position: fixed;
  top: 10rem;
  box-shadow: 0 0.5rem 1rem -1rem rgba(0, 0, 0, 0.5);
  z-index: -1;
  left: 0;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  padding: 7% 7%;
  overflow-y: auto;
}
@media only screen and (max-width: 400px) {
  .nav__right .mobile-nav {
    width: 400px;
  }
}
.nav__right .mobile-nav a {
  font-size: 2.5rem;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: white;
  transition: all 0.5s;
  margin: 1rem;
  text-align: center;
  width: 90%;
}
.nav__right .mobile-nav a:hover {
  text-shadow: 0.5rem 5px 0.5rem rgba(255, 255, 255, 0.75);
  -webkit-appearance: none;
}
  .sticky-text {
    color: black !important;
  }
  
  .sticky-text:hover {
    text-shadow: 0.5rem 5px 0.5rem rgba(0, 0, 0, 0.75) !important;
  }